useDynLib(CatlGLM, .registration = TRUE)
export(align_TL_data)
export(process_microbiome_TL_data)
export(CatlGLM_binomial)
export(CatlGLM_inf)
export(CatlGLM_linear)
importFrom(Rcpp, evalCpp)

import(foreach)
importFrom(assertthat, is.string)
importFrom(doParallel, registerDoParallel, stopImplicitCluster)
importFrom(stats, qnorm, sd)
